#------------------------------------------------------------------------------
# SPEC CPU2017 RISC-V Linux config for workload-builder.
#------------------------------------------------------------------------------

label      =  riscv-XiangShan-KMHv3-gcc16.1.0

action               = validate
command_add_redirect = 0
line_width           = 1020
log_line_width       = 1020
output_format        = txt,html,cfg,pdf,csv
preenv               = 1
tune                 = base
bench_post_setup     = sync
mean_anyway          = 1
reportable           = 0
ignore_errors        = 1

default:
   SPECLANG = %{ENV_CROSS_COMPILE}

JEMALLOC_PATH      = ${JEMALLOC_INSTALL_PATH}
JEMALLOC_LIBS      = -L$(JEMALLOC_PATH)/lib -ljemalloc -lm
STATIC_LDFLAGS     = -z muldefs -static

intspeed,fpspeed,intrate,fprate:
   CC           = $(SPECLANG)gcc  -std=c99
   CXX          = $(SPECLANG)g++  -std=c++03
   FC           = $(SPECLANG)gfortran
   CC_VERSION_OPTION       = --version
   CXX_VERSION_OPTION      = --version
   FC_VERSION_OPTION       = --version

intspeed,fpspeed,intrate,fprate:
   PORTABILITY      = -DSPEC_LP64

500.perlbench_r:
   CPORTABILITY      = -DSPEC_LINUX_X64 -fno-fast-math

502.gcc_r:
   CPORTABILITY      = -fgnu89-inline
   LDCFLAGS          = -z muldefs

525.x264_r:
   LDCFLAGS          = -z muldefs

520.omnetpp_r:
   CXXPORTABILITY    = -std=c++98

521.wrf_r:
   CPORTABILITY      = -DSPEC_CASE_FLAG
   FPORTABILITY      = -fconvert=big-endian

523.xalancbmk_r:
   CXXPORTABILITY    = -DSPEC_LINUX -D_FILE_OFFSET_BITS=64 -std=gnu++03 -include cstring -Wno-c++11-narrowing -Wno-template-body -D_GLIBCXX_USE_CXX11_ABI=0

527.cam4_r:
   CPORTABILITY      = -Wno-int-conversion -std=gnu89 -Dlower_case -DFORTRAN_UNDERSCORE -Dappend_utils -Wno-error=implicit-int -Wno-error=implicit-function-declaration -DSPEC_LP64 -Dlinux -Dsun

526.blender_r:
   PORTABILITY       = -funsigned-char -DSPEC_LINUX
   CPORTABILITY      = -std=gnu99 -DSPEC_LP64 -D__LITTLE_ENDIAN__ -Wno-error=narrowing
   CXXPORTABILITY    = -std=c++11 -Wno-error=narrowing

508.namd_r:
   PORTABILITY       = -std=c++98

510.parest_r:
   CXXPORTABILITY    = -std=c++98

511.povray_r:
   CXXPORTABILITY    = -fno-fast-math
   CPORTABILITY      = -fno-fast-math

600.perlbench_s:
   CPORTABILITY     = -DSPEC_LINUX_X64 -fno-fast-math

602.gcc_s:
   CPORTABILITY      = -fgnu89-inline
   LDCFLAGS         = -z muldefs

625.x264_s:
   LDCFLAGS         = -z muldefs

620.omnetpp_s:
   CXXPORTABILITY   = -std=c++98

621.wrf_s:
   CPORTABILITY     = -DSPEC_CASE_FLAG
   FPORTABILITY     = -fconvert=big-endian

623.xalancbmk_s:
   CXXPORTABILITY   = -DSPEC_LINUX -D_FILE_OFFSET_BITS=64 -std=gnu++03 -include cstring -Wno-c++11-narrowing -Wno-template-body -D_GLIBCXX_USE_CXX11_ABI=0

627.cam4_s:
   PORTABILITY      = -DSPEC_CASE_FLAG
   CPORTABILITY     = -Wno-implicit-int

628.pop2_s:
   CPORTABILITY     = -DSPEC_CASE_FLAG
   FPORTABILITY     = -fconvert=big-endian

default:
   threads          = 1
   copies           = 1

intspeed=base=default:
   COPTIMIZE        = -O3 -flto -ffast-math -fopenmp -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=off -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   CXXOPTIMIZE      = -O3 -flto -ffast-math -fopenmp -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=off -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   FOPTIMIZE        = -O3 -flto -ffast-math -fopenmp -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=off -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing -fallow-argument-mismatch
   EXTRA_LIBS       = -lpthread $(JEMALLOC_LIBS)
   EXTRA_LDFLAGS    = $(STATIC_LDFLAGS)

fpspeed=base=default:
   COPTIMIZE        = -O3 -flto -ffast-math -fopenmp -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=fast -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   CXXOPTIMIZE      = -O3 -flto -ffast-math -fopenmp -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=fast -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   FOPTIMIZE        = -O3 -flto -ffast-math -fopenmp -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=fast -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing -fallow-argument-mismatch
   EXTRA_LIBS       = -lpthread $(JEMALLOC_LIBS)
   EXTRA_LDFLAGS    = $(STATIC_LDFLAGS)

intrate=base=default:
   COPTIMIZE        = -O3 -flto -ffast-math -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=off -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   CXXOPTIMIZE      = -O3 -flto -ffast-math -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=off -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   FOPTIMIZE        = -O3 -flto -ffast-math -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=off -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing -fallow-argument-mismatch
   EXTRA_LIBS       = -lpthread $(JEMALLOC_LIBS)
   EXTRA_LDFLAGS    = $(STATIC_LDFLAGS)

fprate=base=default:
   COPTIMIZE        = -O3 -flto -ffast-math -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=fast -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   CXXOPTIMIZE      = -O3 -flto -ffast-math -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=fast -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing
   FOPTIMIZE        = -O3 -flto -ffast-math -march=rv64gc_zba_zbb_zbc_zbs -ffp-contract=fast -fno-tree-vectorize -fno-tree-loop-vectorize -fno-strict-aliasing -fallow-argument-mismatch
   EXTRA_LIBS       = -lpthread $(JEMALLOC_LIBS)
   EXTRA_LDFLAGS    = $(STATIC_LDFLAGS)

intrate,intspeed,fpspeed,fprate:
   sw_compiler001   = RISC-V GCC cross compiler
   sw_base_ptrsize  = 64-bit
   sw_peak_ptrsize  = Not Applicable

intrate,intspeed,fprate,fpspeed:
   hw_vendor          = workload-builder
   tester             = workload-builder
   test_sponsor       = workload-builder
   license_num        = 0
   prepared_by        = workload-builder

intrate,intspeed,fprate,fpspeed:
   hw_avail           = Dec-9999
   sw_avail           = Dec-9999
   hw_cpu_nominal_mhz = 3000
   hw_cpu_max_mhz     = 3000
   hw_ncores          = 1
   hw_nthreadspercore = 1
   hw_ncpuorder       = 1
   hw_model           = XiangShan Kunminghu
   hw_other           = None
   hw_pcache          = N/A
   hw_scache          = N/A
   hw_tcache          = N/A
   hw_ocache          = N/A
