[submodule "sbi/opensbi"]
	path = bootloader/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "workloads/rvv-bench/rvv-bench"]
	path = workloads/rvv-bench/source
	url = https://github.com/camel-cdr/rvv-bench
[submodule "bootloader/LibCheckpointAlpha"]
	path = bootloader/LibCheckpointAlpha
	url = https://github.com/openxiangshan/LibCheckpointAlpha
[submodule "workloads/riscv-tests/source"]
	path = workloads/riscv-tests/source
	url = https://github.com/scratch-er/riscv-tests
[submodule "nexus-am"]
	path = nexus-am
	url = https://github.com/OpenXiangShan/nexus-am/
