####################################################################
# RISC-V Config file for SPEC CPU2006

# Please see http://www.spec.org/cpu2006/Docs/config.html (also available in
# the Docs directory of your SPEC tree) for details on config file setup.  The
# config.html page has a list of all of the fields required for a full
# publication ofresults.

#####################################################################
# System Under Test (SUT) Section

# If it affects performance, you need to describe it, either in the
# pre-defined fields or by adding it to the notes section. Replace the
# setting below with the ones that match your machine.

#######################################################################

# Tester Description
test_sponsor       = OpenXiangShan
tester             = OpenXiangShan

# System Description
hw_model           = XiangShan Kunminghu
hw_memory          = 2 GiB DDR
hw_disk            = None
hw_vendor          = Institute of Computing Technology, Chinese Academy of Sciences
hw_other           = N/A
hw_avail           = Dec-9999

# CPU description
# See http://www.spec.org/cpu2006/Docs/runrules.html#cpucount
# for a discussion of these fields

hw_cpu_name        = XiangShan Kunminghu
hw_cpu_char        =
hw_cpu_mhz         = 3000
hw_fpu             = Integrated
hw_nchips          = 1
hw_ncores          = 1
hw_ncoresperchip   = 1
hw_nthreadspercore = 1
hw_ncpuorder       = N/A

# Cache description

hw_pcache          = N/A
hw_scache          = N/A
hw_tcache          = N/A
hw_ocache          = N/A

# Tester description

license_num     = 0

# Operating system, file system

sw_os           = Linux with OpenSBI firmware boot
sw_file         = initramfs rootfs
sw_state        = Single-user
sw_other        = None

## SW config
sw_compiler        = gcc, g++ 16.1.0
sw_avail           = Jul-2026
sw_base_ptrsize    = 64-bit
sw_peak_ptrsize    = 64-bit

#######################################################################
# End of SUT section
# If this config file were to be applied to several SUTs, edits would
# be needed only ABOVE this point.
######################################################################

ignore_errors = yes
tune          = base
basepeak      = no
ext           = gcc16-rva23u64_lmul8
teeout        = yes
teerunout     = yes
output_format = asc, csv, html
makeflags     = -j64

reportable    = yes

default=default=default=default:
#####################################################################
#
# Compiler selection
#
#####################################################################

COMPILER_PATH      = ${LLVM_INSTALL_PATH}
JEMALLOC_PATH      = ${JEMALLOC_INSTALL_PATH}
GCC_TOOLCHAIN_PATH = ${GNU_RISCV64_PATH}

JEMALLOC_LIBS      = -L$(JEMALLOC_PATH)/lib -ljemalloc -lm
# jemalloc also exports C++ operator new/delete. Some SPEC C++ benchmarks
# define replaceable allocation symbols in their own objects, so keep
# muldefs enabled for the final static link.
STATIC_LDFLAGS     = -z muldefs -static

CC  = $(COMPILER_PATH)/bin/riscv64-unknown-linux-gnu-gcc -std=gnu89
CXX = $(COMPILER_PATH)/bin/riscv64-unknown-linux-gnu-g++
FC  = $(COMPILER_PATH)/bin/riscv64-unknown-linux-gnu-gfortran

# MARCH=rva23u64
MARCH = rv64gcbv_zic64b1p0_zicbom1p0_zicbop1p0_zicboz1p0_ziccamoa1p0_ziccif1p0_zicclsm1p0_ziccrse1p0_zicntr2p0_zicond1p0_zicsr2p0_zihintntl1p0_zihintpause2p0_zihpm2p0_zimop1p0_za64rs1p0_zaamo1p0_zalrsc1p0_zawrs1p0_zfa1p0_zfhmin1p0_zca1p0_zcb1p0_zcd1p0_zcmop1p0_zba1p0_zbb1p0_zbs1p0_zkt1p0_zvbb1p0_zve32f1p0_zve32x1p0_zve64d1p0_zve64f1p0_zve64x1p0_zvfhmin1p0_zvkb1p0_zvkt1p0_zvl128b1p0_zvl32b1p0_zvl64b1p0

#####################################################################
# Optimization
#####################################################################

int=base=default:
    COPTIMIZE       = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=off -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing
    CXXOPTIMIZE     = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=off -std=c++98 -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing

    EXTRA_LIBS      = $(JEMALLOC_LIBS)
    EXTRA_LDFLAGS   = $(STATIC_LDFLAGS)

fp=base=default:
    COPTIMIZE       = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=fast -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing
    CXXOPTIMIZE     = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=fast -std=c++98 -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing
    FOPTIMIZE       = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=fast -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing

    EXTRA_LIBS      = $(JEMALLOC_LIBS)
    EXTRA_LDFLAGS   = $(STATIC_LDFLAGS)

int=peak=default:
    COPTIMIZE       = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=off -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing
    CXXOPTIMIZE     = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=off -std=c++98 -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing

    EXTRA_LIBS      = $(JEMALLOC_LIBS)
    EXTRA_LDFLAGS   = $(STATIC_LDFLAGS)

fp=peak=default:
    COPTIMIZE       = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=fast -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing
    CXXOPTIMIZE     = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=fast -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing
    FOPTIMIZE       = -static -O3 -march=$(MARCH) -ffast-math -flto  -ffp-contract=fast -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing

    EXTRA_LIBS      = $(JEMALLOC_LIBS)
    EXTRA_LDFLAGS   = $(STATIC_LDFLAGS)


#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=default=default=default:
PORTABILITY    = -DSPEC_CPU_LP64

#####################################################################
# Portability Flags
#####################################################################

400.perlbench=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX_X64 -std=gnu89

401.bzip2=default=default=default:
CPORTABILITY   = -std=gnu89

416.gamess=default=default=default:
CPORTABILITY   = -funconstrained-commons
FPORTABILITY   = -std=legacy -funconstrained-commons -fno-strict-aliasing

436.cactusADM=default=default=default:
CPORTABILITY   = -std=gnu17

462.libquantum=default=default=default:
CPORTABILITY   = -DSPEC_CPU_LINUX

464.h264ref=default=default=default:
CPORTABILITY   = -fsigned-char

482.sphinx3=default=default=default:
CPORTABILITY   = -fsigned-char

483.xalancbmk=default=default=default:
CXXPORTABILITY = -DSPEC_CPU_LINUX -include cstring -Wno-c++11-narrowing -Wno-template-body

453.povray=base=default=default:
CXXOPTIMIZE     = -static -O3 -march=$(MARCH) -flto  -ffp-contract=fast -std=c++98 -ftree-vectorize -mrvv-max-lmul=m8 -mrvv-vector-bits=zvl -fno-strict-aliasing

481.wrf=default=default=default:
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
FPORTABILITY   = -std=legacy -fallow-argument-mismatch

447.dealII=default=default=default:
CXXPORTABILITY = -fpermissive -include cstring -std=c++11

450.soplex=default=default=default:
CXXPORTABILITY = -std=gnu++98

#####################################################################
# Notes
#####################################################################
